#can1{border:red double 10px;position:absolute;left:550px;top:10px;}
#but1{position:absolute;left:1100px;top:50px;border:green solid 5px;}
#but2{position:absolute;left:1100px;top:100px;border:green solid 5px;}
#par1{position:absolute;left:50px;top:10px;border:purple double 10px;padding:5px;}
#W3S{position:absolute;left:50px;top:80px;border:purple double 10px;padding:5px;}
#mandel{position:absolute;left:50px;top:140px;border:purple double 10px;padding:5px;}
#TTT_GH{position:absolute;left:50px;top:200px;border:purple double 10px;padding:5px;}
#Lindel_2019{position:absolute;left:50px;top:260px;border:purple double 10px;padding:5px;}
#proj2{position:absolute;left:50px;top:320px;border:purple double 10px;padding:5px;}
#Slot_2021{position:absolute;left:50px;top:380px;border:purple double 10px;padding:5px;}