
#par1{position:absolute;left:50px;top:10px;border:purple double 10px;padding:5px;}
#W3S{position:absolute;left:50px;top:80px;border:purple double 10px;padding:5px;}
#mandel{position:absolute;left:50px;top:140px;border:purple double 10px;padding:5px;}
#TTT_GH{position:absolute;left:50px;top:200px;border:purple double 10px;padding:5px;}
#Lindel_2019{position:absolute;left:50px;top:260px;border:purple double 10px;padding:5px;}
#proj2{position:absolute;left:50px;top:320px;border:purple double 10px;padding:5px;}
#Slot_2021{position:absolute;left:50px;top:380px;border:purple double 10px;padding:5px;}
#LF{position:absolute;left:50px;top:440px;border:purple double 10px;padding:5px;}
#pG{position:absolute;left:350px;top:100px;border:purple double 10px;padding:5px;}
#D3{position:absolute;left:350px;top:160px;border:purple double 10px;padding:5px;}
#lD{position:absolute;left:350px;top:220px;border:purple double 10px;padding:5px;}
#SI_2{position:absolute;left:350px;top:280px;border:purple double 10px;padding:5px;}
#WR{position:absolute;left:350px;top:340px;border:purple double 10px;padding:5px;}
#TheList{position:absolute;left:350px;top:400px;border:purple double 10px;padding:5px;}
#Pat{position:absolute;left:650px;top:30px;border:purple double 10px;padding:5px;}
#jB{position:absolute;left:650px;top:90px;border:purple double 10px;padding:5px;}
#dP{position:absolute;left:650px;top:150px;border:purple double 10px;padding:5px;}
#d3{position:absolute;left:650px;top:210px;border:purple double 10px;padding:5px;}
#sp{position:absolute;left:650px;top:270px;border:purple double 10px;padding:5px;}
#fR{position:absolute;left:650px;top:330px;border:purple double 10px;padding:5px;}
#sI{position:absolute;left:650px;top:390px;border:purple double 10px;padding:5px;}
#s3D{position:absolute;left:650px;top:450px;border:purple double 10px;padding:5px;}

#gh{position:absolute;left:650px;top:510px;border:purple double 10px;padding:5px;}


//#bod1{background-color:blue; border: red solid 10px;}
     
